.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
  background: rgb(220, 220, 220);
  font-family: 'Inconsolata', monospace;
}
.root span {
  margin: 0;
  padding: 20px;
}

.topRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.topRow span {
  padding: 0 20px;
}

.innerRow {
  display: flex;
  justify-content: space-between;
}
.innerRow span {
  padding: 0;
}
